---

grails:
    profile: web
    config:
            locations:
                - file:///data/bie-index/config/bie-index-config.properties
                - file:///data/bie-index/config/bie-index-config.yml
                - file:///data/bie-index/config/bie-index-config.groovy
    codegen:
        defaultPackage: au.org.ala.bie
    spring:
        transactionManagement:
            proxies: false
    gorm:
        # Whether to autowire entities. 
        # Disabled by default for performance reasons.
        autowire: false         
        reactor:
            # Whether to translate GORM events into Reactor events
            # Disabled by default for performance reasons
            events: false
info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'
spring:
    main:
        banner-mode: "off"
    groovy:
        template:
            check-template-location: false

# Spring Actuator Endpoints are Disabled by Default
endpoints:
    enabled: false
    jmx:
        enabled: true

---
grails:
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
              - text/html
              - application/xhtml+xml
            js: text/javascript
            json:
              - application/json
              - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
              - application/hal+json
              - application/hal+xml
            xml:
              - text/xml
              - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlets: html
                taglib: none
                staticparts: none
endpoints:
    jmx:
        unique-names: true

---
#Required so that the gbif-ecat library does not bugger up initialisation from its internal application.properties
app:
  dataDir: /tmp/gbif-ecat
indexLiveBaseUrl: http://localhost:8080/solr/bie
indexOfflineBaseUrl: http://localhost:8080/solr/bie-offline
biocacheService:
  baseUrl: http://biocache.ala.org.au/ws
biocache:
  solr:
    url: http://localhost:8080/solr/biocache
defaultNameSourceAttribution: National Species Lists
commonNameSourceAttribution: National Species Lists
commonNameDefaultLanguage: en-AU
identifierSourceAttribution: National Species Lists
indexImages: true
collectoryBaseUrl: http://collections.ala.org.au
collectoryServicesUrl: http://collections.ala.org.au/ws
layersServicesUrl: http://spatial.ala.org.au/ws
imageThumbnailUrl: http://images.ala.org.au/image/proxyImageThumbnail?imageId=
imageLargeUrl: http://images.ala.org.au/image/proxyImage?imageId=
imageSmallUrl: http://images.ala.org.au/image/proxyImageThumbnailLarge?imageId=
imageMetaDataUrl: http://images.ala.org.au/ws/image/
synonymCheckingEnabled: true
synonymSourceAttribution: National Species Lists
gazetteerLayerId: 2123
security:
  apikey:
    serviceUrl: 'https://auth.ala.org.au/apikey/ws/check?apikey='
  cas:
    appServerName: http://bie.ala.org.au/ws
    uriFilterPattern: "/admin.*,/alaAdmin.*"
    uriExclusionFilterPattern: "/images.*,/css.*,/js.*,.*json,/help/.*"
wordPress:
    sitemapUrl: http://www.ala.org.au/sitemap.xml
    baseUrl: http://www.ala.org.au/?page_id=
    excludedCategories:
      - button
    contentOnlyParams: ?content-only=1&categories=1
speciesList:
  url: http://lists.ala.org.au/ws/speciesListItems/
  params: ?includeKVP=true
# Acceptable vernacular names to appear in autocomplete
#autoComplete.languages = 'en,en-AU,en-CA,en-GB,en-US'
autoComplete:
  languages:
# Location of conservation lists
conservationListsUrl: /default-conservation-lists.json
# Location of vernacular name lists (null for default)
vernacularListsUrl: /default-vernacular-lists.json
# Location of image lists (null for default)
imagesListsUrl: /default-image-lists.json
# Location of locality keywords (null for default)
localityKeywordsUrl: /default-locality-keywords.json
#nationalSpeciesDatasets: dr2699,dr2700,dr2702,dr2704,dr2703,dr3118
nationalSpeciesDatasets: ""
defaultDownloadFields: guid,rank,scientificName,establishmentMeans,rk_genus,rk_family,rk_order,rk_class,rk_phylum,rk_kingdom,datasetName
additionalResultFields: ""
#toggle for the population of occurrence counts
occurrenceCounts:
  enabled: true
  filterQuery: geospatial_kosher:true

# Score normal value (divides integer priority by the norm to give solr boosts)
priority:
  norm: 4000
  min: 0.25
  max: 5.0

# SOLR additional params
solr:
    qf: exact_text^200+doc_name^100+text
    bq:
      - taxonomicStatus:accepted^2000
      - rankID:7000^500
      - rankID:6000^100
      - scientificName:(*+-\"*+x+*\")^500
      - taxonomicStatus:(*+-misapplied+-excluded+-miscellaneousLiterature+-inferredSynonym+-inferredAccepted)^1000
      - idxtype:TAXON^1000
      - idxtype:(*+-COMMON)^2000
    fq:
      - NOT+idxtype:IDENTIFIER
      - NOT+idxtype:TAXONVARIANT
    defType: edismax
    qAlt: text:*
    hl:
      - true
      - hl=true
      - hl.fl=*
      - hl.simple.pre=<b>
      - hl.simple.post=</b>
skin:
  layout: main
  orgNameLong: Atlas of Living Australia
useLegacyAuto: false
import:
  sequence: collectory,taxonomy-all,vernacular,denormalise,layers,regions,localities,conservation-lists,wordpress,link-identifiers,images,occurrences
  taxonomy:
    dir: /data/bie/import
